services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: dbpass
      MYSQL_DATABASE: gtest1ems
    ports:
      - "3306:3306"
    healthcheck:
        test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
        interval: 10s
        timeout: 5s
        retries: 10
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network

  spring-app:
    build: .
    container_name: spring-app
    environment:
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      DB_USERNAME: root
      DB_PASSWORD: dbpass
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network

volumes:
  mysql-data:

networks:
  app-network:
